<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
    <script src="/js/createValidation.js"></script>
<body>
    <%- include('../partials/header')%> 
    <main class="edit-prod">
        <form action="/products/create" method="POST" class="form-login" enctype="multipart/form-data">
            <h2>Creá tu producto</h2>
            
            <input type="text" name="name" placeholder="Nombre del producto">
            <select name="brand">
                <option value="" selected>--Elige la Marca--</option>
                <% brands.forEach(b =>{ %>
                    <option value="<%=b.id%>"><%= b.name %></option>
                <% }) %>
            </select>
            
            <input type="radio" name="gender" value="male" id="male">
            <label for="male">Masculino</label>
            <input type="radio" name="gender" value="female" id="female">
            <label for="female">Femenino</label>
            <input type="radio" name="gender" value="unisex" id="unisex">
            <label for="unisex">Unisex</label>

            <input type="text" name="description" placeholder="Descripción">
            
            <h4>Categoría del producto</h4>
            <select name="category_id">
                <option value="" selected>--Elige la Categoría--</option>
                <% category.forEach(c =>{ %>
                    <option value="<%=c.category_id%>"><%= c.name %></option>
                <% }) %>
            </select>
            
            <h4>Seleccione el talle</h4>
            <input type="radio" id="talleS" name="size" value="S">
            <label for="talleS">Talle S</label>
            
            <input type="radio" id="talleM" name="size" value="M">
            <label for="talleM">Talle M</label>
            
            <input type="radio" id="talleL" name="size" value="L">
            <label for="talleL">Talle L</label>
            
            <input type="radio" id="talleXL" name="size" value="XL">
            <label for="talleXL">Talle XL</label>
            
            <h4>Elegí una imagen para tu producto</h4>
            <input type="file" name="image">
            
            <input type="number" name="price" placeholder="Precio">
            <input type="text" name="discount" placeholder="Descuento">
            <input type="number" name="stock" placeholder="Stock">
            
            <input type="submit" value="Enviar">
        </form>
    </main>
    <%- include('../partials/footer')%>
</body>
</html>