<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>
<body>
  <%- include('../partials/header')%> 

  <div class="articulos-principalesdet">
    <% if (product) { %>
      <h1>Detalle del producto <%= product.id %> :</h1>
      <img src="<%= product.image %>" alt="Imagen del Producto: <%= product.id %>" width="200px">
      <p>Nombre: <%- product.name %></p>
      <h3>Precio: $<%- product.price %></h3>
      <p><pre>Descuento: <%- product.discount %></pre></p>
      <a href="/products/<%= product.id %>/edit"><button>Editar producto</button></a>
      <form action="/products/<%= product.id %>/delete?_method=DELETE" method="POST">
        <button type="submit">Borrar producto</button>
      </form>
    <% } else { %>
      <h1>No encontramos el producto: <%= data.id %></h1>
      <img src="/images/gato.jpg" alt="Imagen del Producto: <%= data.id %>" width="200px">
      <h3>Pero te podemos sugerir los siguientes productos</h3>
    <% } %>
  </div>

  <br>
  <h1>Articulos Relacionados: </h1>
  <div class="articulosRelacionados">
    <% for (let i = 0; i < products.length; i++) { %>
      <% if (products[i].id !== data.id) { %>
        <div class="articulo-itemdet">
         
<img src="<%- products[i].image %>" alt="Imagen del Producto: <%= products[i].id %>" width="100px">
          <p>Nombre: <%- products[i].name %></p>
          <h3>Precio: $<%- products[i].price %></h3>
<p><pre>Descuento: <%- products[i].discount %></pre></p>
          <a href="/detail/<%= products[i].id %>">Ver detalles</a>
        </div>
      <% } %>
    <% } %>
  </div>
  <% include('../partials/footer')%>
</body>
</html>