<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head')%>
  <body>
    <%- include('../partials/header')%>
    <main>
      <div class="slideshow-container">
        <div class="mySlides">
          <img src="/images/Slide/4.png" style="width: 100%" />
        </div>

        <div class="mySlides">
          <img src="/images/Slide/1.png" style="width: 100%" />
        </div>

        <div class="mySlides">
          <img src="/images/Slide/2.png" style="width: 100%" />
        </div>

        <div class="mySlides">
          <img src="/images/Slide/3.png" style="width: 100%" />
        </div>

        <a class="prev">&#10094;</a>
        <a class="next">&#10095;</a>
      </div>
      <br />

      <div style="text-align: center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>

      <h1>Explora nuestras categorías</h1>
      <div class="categories">
        <div>
          <a href=""><img src="/images/Abrigos.png" alt="" /></a>
          <p>Abrigos</p>
        </div>
        <div>
          <a href=""><img src="/images/Combate.png" alt="" /></a>
          <p>Combate</p>
        </div>
        <div>
          <a href=""><img src="/images/Fútbol.png" alt="" /></a>
          <p>Fútbol</p>
        </div>
        <div>
          <a href=""><img src="/images/Running.png" alt="" /></a>
          <p>Running</p>
        </div>
      </div>

      <% if (prodCat1) { %> <% if (prodCat1.products.length>0) { %>
      <h1><%= prodCat1.category.name %></h1>
      <div class="container">
        <div class="slide-wrapper">
          <% prodCat1.products.forEach(product => { %>
          <div class="product-card">
            <div class="product-tumb">
              <img src="<%= product.image %>" alt="<%= product.name %>" />
            </div>
            <div class="product-details">
              <span class="product-category"
                ><%= product.productCategory.name %></span
              >
              <h4>
                <a href="/products/<%= product.id %>"><%= product.name %></a>
              </h4>
              <div class="product-bottom-details">
                <div class="product-price">
                  <% if(product.discount>0) {%>
                  <small
                    >$<%= product.price.toLocaleString('es-AR',{style:
                    'decimal',maximumFractionDigits: 2}) %></small
                  ><% } %>$<% if(product.discount>0) { %><%=
                  (product.price*(1-(product.discount)/100)).toLocaleString('es-AR',{style:
                  'decimal',minimumFractionDigits: 2,maximumFractionDigits: 2})
                  %><% } else { %><%=
                  product.price.toLocaleString('es-AR',{style:
                  'decimal',minimumFractionDigits: 2,maximumFractionDigits: 2})
                  %><% } %>
                </div>
                <form
                  class="product-links"
                  action="/cart/<%= product.id %>"
                  method="post"
                >
                  <button type="submit">
                    <i class="fa fa-shopping-cart"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
      <% }} else { %>
      <p class="card-container">No products available.</p>
      <% } %> <% if (prodCat2) { %> <% if (prodCat2.products.length>0) { %>
      <h1><%= prodCat2.category.name %></h1>
      <div class="container">
        <div class="slide-wrapper">
          <% prodCat2.products.forEach(product => { %>
          <div class="product-card">
            <div class="product-tumb">
              <img src="<%= product.image %>" alt="<%= product.name %>" />
            </div>
            <div class="product-details">
              <span class="product-category"
                ><%= product.productCategory.name %></span
              >
              <h4>
                <a href="/products/<%= product.id %>"><%= product.name %></a>
              </h4>
              <div class="product-bottom-details">
                <div class="product-price">
                  <% if(product.discount>0) {%>
                  <small
                    >$<%= product.price.toLocaleString('es-AR',{style:
                    'decimal',maximumFractionDigits: 2}) %></small
                  ><% } %>$<% if(product.discount>0) { %><%=
                  (product.price*(1-(product.discount)/100)).toLocaleString('es-AR',{style:
                  'decimal',minimumFractionDigits: 2,maximumFractionDigits: 2})
                  %><% } else { %><%=
                  product.price.toLocaleString('es-AR',{style:
                  'decimal',minimumFractionDigits: 2,maximumFractionDigits: 2})
                  %><% } %>
                </div>
                <form
                  class="product-links"
                  action="/cart/<%= product.id %>"
                  method="post"
                >
                  <button type="submit">
                    <i class="fa fa-shopping-cart"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
      <% }} else { %>
      <p class="card-container">No products available.</p>
      <% } %>

      <h1>Productos relacionados</h1>
      <div class="product-list">
        <% if (products && Array.isArray(products) && products.length > 0) { %>
        <% products.forEach(product => { %>
        <div class="product-card">
          <div class="product-tumb">
            <img src="<%= product.image %>" alt="<%= product.name %>" />
          </div>
          <div class="product-details">
            <span class="product-category"
              ><%= product.productCategory.name %></span
            >
            <h4>
              <a href="/products/<%= product.id %>"><%= product.name %></a>
            </h4>
            <div class="product-bottom-details">
              <div class="product-price">
                <% if(product.discount>0) {%>
                <small
                  >$<%= product.price.toLocaleString('es-AR',{style:
                  'decimal',maximumFractionDigits: 2}) %></small
                ><% } %>$<% if(product.discount>0) { %><%=
                (product.price*(1-(product.discount)/100)).toLocaleString('es-AR',{style:
                'decimal',minimumFractionDigits: 2,maximumFractionDigits: 2})
                %><% } else { %><%= product.price.toLocaleString('es-AR',{style:
                'decimal',minimumFractionDigits: 2,maximumFractionDigits: 2})
                %><% } %>
              </div>
              <form
                class="product-links"
                action="/cart/<%= product.id %>"
                method="post"
              >
                <button type="submit">
                  <i class="fa fa-shopping-cart"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
        <% }); %> <% } else { %>
        <p class="card-container">No products available.</p>
        <% } %>
      </div>
      <button class="submit-button"><a href="/products">Ver más</a></button>
    </main>
    <%- include('../partials/footer')%>
  </body>
</html>
