<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')%>
<body>
 <%- include('../partials/header')%>  
    <main>
        <h1>Product List</h1>

        <div class="product-list">
          <% if (products && Array.isArray(products) && products.length > 0) { %>
            <% products.forEach(product => { %>
              <article class="card-container">
                <div class="main-article">
                  <img src="<%= product.image %>" alt="<%= product.name %>" >
                  <div class="description-box">
                    <a href="/products/<%= product.id %>"><h4 class="description"><%= product.name %></h4></a>
                    <p class="price">Precio: <%= product.price %></p>
                    <p class="discount">Descuento:<%= product.discount %></p>
                  </div>   
                </div>
              </article>
            <% }); %>
          <% } else { %>
            <p class="card-container">No products available.</p>
          <% } %>
        </div>


    </main>
    <%- include('../partials/footer')%>
</body>
</html>