<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
    <body>
        <%- include('../partials/header')%>  
        <main>
            <h1>Mi Carrito</h1>
            <form action="/cart" method="post" class="white-bkg">
              <table>
                <thead>
                  <th>Nombre del producto</th>
                  <th>Precio final</th>
                  <th>Cantidad a comprar</th>
                  <th>Subtotal</th>
                </thead>
                <tbody>
                  <% cart.forEach(row => { %>
                    <tr>
                      <td><%= row.product.name %></td>
                      <td class="price">
                      <% if(row.product.discount>0) {%><%=
                        (row.product.price*(1-(row.product.discount)/100)).toLocaleString('es-AR',{style:
                        'decimal',minimumFractionDigits: 2,maximumFractionDigits: 2})
                        %><% } else { %><td class="price"><%=
                          row.product.price.toLocaleString('es-AR',{style:
                        'decimal',minimumFractionDigits: 2,maximumFractionDigits: 2})
                        %><% } %>
                        </td>
                      <td><select name="<%= row.id %>-product-quantity" id="" class="product-quantity">
                        <% for (let i = 1; i <= row.product.stock; i++) { %>
                          <option value="<%= i %>" <% if(row.Product_quantity === i) {%>selected<% } %>><%= i %></option>
                        <% } %>
                      </select>
                    </td>
                      <% if(row.product.discount>0) {%><td class="subtotal"><%=
                        (row.product.price*(1-(row.product.discount)/100)*row.Product_quantity).toLocaleString('es-AR',{style:
                        'decimal',minimumFractionDigits: 2,maximumFractionDigits: 2})
                        %></td><% } else { %><td><%=
                          (row.product.price*row.Product_quantity).toLocaleString('es-AR',{style:
                        'decimal',minimumFractionDigits: 2,maximumFractionDigits: 2})
                        %></td><% } %>
                    </tr>
                    <% }) %>
                </tbody>
                <tfoot>
                  <tr>
                    <td></td>
                    <td></td>
                    <td>Total</td>
                    <td class="total"></td>
                  </tr>
                </tfoot>
              </table>
              <button class="submit-button pay-method">Seleccione el método de pago</button>
              <select name="pay-method" id="" hidden>
                <option value="" selected>Seleccione el método de pago</option>
                <option value="bank-transfer">Transferencia bancaria</option>
              </select>
              <p>Actualmente no contamos con métodos de envío.</p>
              <button class="submit-button" type="submit" name="endBuy">Finalizar compra</button>
              <button class="erase-button" type="submit" name="keepSearching"><a href="/products">Seguir comprando</a></button>
              
            </form>
        </main>
        
        <%- include('../partials/footer')%>
    </body>
</html>