<!-- views/cart.ejs -->
<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
    <body>
        <%- include('../partials/header')%>  
        <main>
            <h1>Mi Carrito</h1>

            <table>
              <thead>
                <th>Nombre del producto</th>
                <th>Precio final</th>
                <th>Cantidad a comprar</th>
                <th>Subtotal</th>
              </thead>
              <tbody>
                <% cart.forEach(row => { %>
                  <tr>
                    <td><%= row.product.name %></td>
                    <td><%= row.product.price %></td>
                    <td><%= row.Product_quantity %></td>
                    <td><%= row.product.price * row.Product_quantity %></td>
                  </tr>
                  <% }) %>
              </tbody>
              <tfoot>
                <tr>
                  <td></td>
                  <td></td>
                  <td>Total</td>
                  <td><%= total %></td>
                </tr>
              </tfoot>
            </table>   
            <button class="submit-button"><a href="/products">Seguir comprando</a></button>
        </main>
        
        <%- include('../partials/footer')%>
    </body>
</html>