<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>  

    <main class="dashboard">
        <div class="white-bkg form-width">
            <h1>Bienvenido, <% if(locals.admin) { %>admin <% } %><%= user.name%></h1>
            <div class="dashboard">
                <section class="dashboard-section image-section">
                    <img src="<%= user.avatar %>" alt="<%= user.email %>"> 
                    <!-- Add more user-related information as needed -->
                </section>
                <section class="dashboard-section user-description">
                    <h2>Detalles de usuario</h2>
                    <p>Email: <%= user.email %></p>
                    <p>Fecha de nacimiento: <%= user.birthDate %></p>
                    <p>Dirección: <%= user.address %></p>
                    <div class="user-buttons">
                        <form action="/users/logout" method="post">
                            <button type="submit" class="submit-button">Cerrar sesión</button>
                        </form>
                        <form action="/users/<%= user.id %>/edit" method="get">
                            <button type="submit" class="submit-button">Editar usuario</button>
                        </form>
                    </div>
                    
                    
                </section>
            </div>
            <% if (Orders.length>0) { %>
             <table>
                <thead>
                    <tr>
                        <th>Id del pedido</th>
                        <th>Detalle del pedido</th>
                        <th>Total</th>
                        <th>Estado del pedido</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% Orders.forEach(order => { %>
                        <tr>
                            <td><%= order.id %></td>
                            <td><% order.orderP.forEach(product => { %>
                                <%= `${product.name} x${product.OrderProduct.Product_quantity} `%><br>
                            <% }) %></td>
                            <td><%= order.total %></td>
                            <td><%= order.status %></td>
                            <td><% if (order.status == 'A pagar') { %>
                             <button>Subir comprobante</button>
                            <% } if(order.status == 'Entregado') {%>
                                <button>Descargar factura</button>
                                <% } %>
                            </td>
                            <td>
                            <form action="/order/<%= order.id %>/delete" method="post">
                                <button type="submit">Eliminar order</button>
                            </form>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
             </table>
            <% } %>
            <% if (locals.admin) { %>
             <a href="/ordersList" class="submit-button">Administrar pedidos</a>
            <% } %>
            <% if (locals.admin) { %>
                <a href="http://localhost:5173" class="submit-button">Admin Dashboard</a>
               <% } %>
        </div>      
    </main>

    <%- include('../partials/footer')%>
</body>
</html>