<!-- login.ejs -->
<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
    <script src="js/loginValidation.js"></script>
<body>
    <%- include('../partials/header')%> 
    <main class="login">

        <form class="login-form white-bkg" action="/users/login" method="POST">
            <h1>Iniciar sesión</h1>
            <div class="input">
                <input type="text" name="email" id="email" placeholder=" ">
                <label for="email" class="input-label">E-mail</label>
                <span class="material-symbols-outlined">
                    mail
                </span>
            </div>
            <div class="input">
                <input type="password" id="password" name="password" placeholder=" " class="login-password">
                <label for="password">Password</label>
                <span class="material-symbols-outlined login-pass-icon">visibility</span>
            </div>
            <div class="check">
                <input type="checkbox" name="remember" id="remember">
                <label for="remember">Recuerdame</label>
            </div>
            <button type="submit" class="submit-button">Iniciar sesión</button>
        </form>
            <!-- <% if(locals.mensajeError) { %>
                <p><%= mensajeError %></p>
            <% } %> -->
<!--             
           
            <% if (typeof error !== 'undefined') { %>
                <p class="error-message"><%= error %></p>
            <% } %>
            <% if (typeof success !== 'undefined') { %>
                <p class="success-message"><%= success %></p>
            <% } %> -->
    <%- include('../partials/footer')%>
</body>
</html>

