<!-- login.ejs -->
<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%> 
    <main class="login">
        <form action="/users/login" method="POST" class="form-login">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
        
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
            
            <!-- Muestra mensajes de error o éxito -->
            <% if (typeof error !== 'undefined') { %>
                <p class="error-message"><%= error %></p>
            <% } %>
            <% if (typeof success !== 'undefined') { %>
                <p class="success-message"><%= success %></p>
            <% } %>

            <label for="remember">Recuerdame</label>
            <input type="checkbox" name="remember" id="remember">

            <button type="submit">Login</button>
        </form>
    </main>
    <%- include('../partials/footer')%>
</body>
</html>

